<%= notice %>

<section class="login-dark" style= "height:60vh">
    <%= form_with(model: @comment, method: :patch, url: comments_update_path, style: "opacity: 0.90;border-radius: 15px;") do |form| %>
        <h3>Edit a Comment</h3>
        
        <div class="form-group">
            <%= form.label :Text, style:"color:#000;" %>
            <%= form.text_field :text, style:"color: rgb(0,0,0);width: 40%;border-radius: 7px;border-width: 1px;border-style: solid;margin:5px;", required:"", minlength:"1" %>
        </div>

        <div class="form-group">
            <%= form.submit "Save Comment" %>
        </div>

    <% end %>

</section>