
<!-- 
<h1>Index of Comments</h1>
<div style="display: flex; flex-flow: row wrap;">
    <% @comments.each do |comment| %>
        <div style="border: solid 1px; width: 200px; padding: 10px; align-text: center; margin: 5px;">
          <h4><%= comment.id %></h4>
          <p><%= comment.text %></p>
          <p><%= link_to "Details", comments_show_path(comment.id)%></p>
        </div>
    <% end %>
</div>  
<p><%= link_to 'Home', root_path %></p>
<p><%= link_to 'New comment', comments_new_path %></p>
-->





<div class="container" style="margin-bottom:50px;">
	
	<div class="card">
	    <div class="card-body">
			<% passed = false%>
			<% @comments.each do |comment| %>
				<% if not comment.father_id%>
					<% passed = true %>
					<%= render 'comments/main_comment', :@comment => comment %>
					<% comment.sons.each do |son| %>
						<%= render 'comments/son_comment', :@comment => son %>
					<% end %>
				<% end %>
			<% end %>
			<% if not passed %>
				<p>No comments yet, make the first one!</p>
			<% end %>
	    </div>
	</div>


	<%= render 'comments/form', :type => 'father'%>
	
</div>
