
<section style = "height: 60vh;margin-top:7%;margin-left:10%">

<p>
  <strong>Name:</strong>
  <%= @animal_request.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @animal_request.email %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @animal_request.animal %>
</p>

<p>
  <strong>Message:</strong>
  <%= @animal_request.message %>
</p>

<%= link_to 'Go back to Home', root_path, class:"btn btn-primary" %> 

</section>