<div class="col-lg-3 col-md-6 mb-4 mb-lg-0 p-3">
    <%= link_to posts_show_path(@post.id), class:'ripple bg-image hover-zoom d-block mb-2', 'data-ripple-color': "light" do %>
    
    <% if @post.images.attached? %>
        <%= image_tag(url_for(@post.images[0]), :class => "w-100", :style => 'height:200px;') %>
    <% else %>
        <%= image_tag('/assets/home/no_image-029092a34684b6e053f093867902beef848506a6280a6765a59e319c892450b3.jpg', :class => "w-100", :style => 'height:200px;') %>
    <% end %>
    
    <strong class="mb-1 small" style='text-decoration:none;color:#000;'><%= @post.title %></strong>
    <% if !adopt %>
        <p class="mb-0" style='text-decoration:none;color:#000;'><strong><%= @post.parsed_price%></strong></p>
    <% end%>

    <% end %>
</div>