<h1>Reviews#edit</h1>
<h1>Edit Review</h1>

<%= form_with(model: @review, method: :patch, url: reviews_update_path) do |form| %>
    <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, step: :any, min: 0, max: 5%>
  </div>

  <div class="field">
    <%= form.label :reid %>
    <%= form.number_field :reid %>
  </div>

  <div class="field">
    <%= form.label :aid %>
    <%= form.number_field :aid %>
  </div>



  <div class="actions">
    <%= form.submit "Crear review" %>
  </div>
<% end %>



<%= link_to 'Show', reviews_show_path %> 
<%= link_to 'Back', reviews_index_path %>


